// cores: FFE198, BD8A72, F3A1A7, E97A80,

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {

// }

header {
    background-color: #F3A1A7;
    text-align: center;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }

    nav a {
        color: #ffff;
        display: flex;
        text-decoration: none;
        justify-content: center;
        padding: 20px;
    }

}


main {
    background-color: #f8f9fa;
}

h1 {
    color: #f8f9fa;
    font-size: 3rem;
    // font-size - tamanho da fonte
}

#filmes {
    // display-> block, inline e inline-block
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    padding: 50px 130px;
}


.card {

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;

    img {
        height: 960px;
        width: 1440px;
    }

    h2 {
        font-weight: 400;
        padding: 10px;
    }
}

// medida relativa
// vw - viewport (janela de exibição)
// vw - largura da tela 
// porcentagem % - relativo ao elemento pai
// identificador unico/ n podemos repetir


button {
    padding: 10px;
    border: none;
    background-color: #5f0f40;
    color: #f8f9fa;
    border-radius: 10px;
}